body {
  background-color: #f7f7f7;
}

ul,
li {
  list-style: none;
  padding: 0;
}

/* img {
  max-width: 100%;
  max-height: 100%;
} */

header {
  background-color: #fff;
  padding: 1rem;
}

nav {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  text-align: center;
}

nav a {
  color: #333;
  text-decoration: none;
}

nav h1 {
  text-transform: uppercase;
  line-height: 1.5rem;
}

nav h1 div:nth-child(1) {
  letter-spacing: 1.5px;
  font-weight: 800;
}

nav h1 div:nth-child(2) {
  font-weight: 400;
}

.masonry {
  max-width: 1100px;
  margin: 3rem auto;
  padding: 1.5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  grid-auto-rows: 250px;
}

.grid-container div {
  background-color: #fff;
  overflow: hidden;
  border-radius: 0.5rem;
  border: 1rem solid white;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.05);
}

.grid-container img {
  width: 100%;
  height: 100%;
}

.tall {
  grid-row: span 2;
}

@media screen and (max-width: 960px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 620px) {
  .grid-container {
    grid-template-columns: 1fr;
    max-width: 400px;
    margin: 20px auto;
  }

  nav {
    grid-template-columns: repeat(4, 1fr);
  }
  nav h1 {
    grid-column: 1 / span 4;
    grid-row: 1;
  }
}
