.grid-container {
  background-color: #eee;
  max-width: 900px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 0.5rem;
  justify-items: stretch;
  align-items: stretch;
}

.grid-item {
  background-color: #ccc;
  border: 0.1px solid black;
  text-align: center;
  padding: 20px;
}

/* Different ways of spanning columns */
.grid-container > div:nth-child(1) {
  grid-column: 1 / span 2;
}

.grid-container > div:nth-child(2) {
  grid-column: span 3;
}

.grid-container > div:nth-child(4) {
  grid-column: 2 / 6;
}

.grid-container > div:nth-child(5) {
  grid-column: span 3;
}

.grid-container > div:nth-child(6) {
  grid-column: span 3;
}
